.wind {
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: calc((860px / 2 ) - 10px);
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.16);
    color: white;
}

.wind p {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}


.wind .wind-stats p {
    font-size: 16px;
    padding: 2px 0;
}


@media (max-width: 430px) {
    .wind {
        background: linear-gradient(to right, #e0c3fc, #8ec5fc);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        width: 400px;
        box-shadow: 2px 2px 4px rgba(0,0,0, 0.16);
        color: white;
    }
}

@media (max-width: 820px) {
    .wind {
        background: linear-gradient(to right, #e0c3fc, #8ec5fc);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        width: calc(560px / 2 );
        box-shadow: 2px 2px 4px rgba(0,0,0, 0.16);
        color: white;
    }
}

@media (max-width: 1024px) {
    .wind {
        background: linear-gradient(to right, #e0c3fc, #8ec5fc);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        width: calc(900px / 2 );
        box-shadow: 2px 2px 4px rgba(0,0,0, 0.16);
        color: white;
    }
}