.daily {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1020px;
    border-radius: 8px;
    background: #f6f6f6;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.16);
}

.daily h1 {
    font-weight: 300;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.daily ul {
    width: 1000px;
    height: inherit;
    display: flex;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}

.daily ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daily ul li p {
    font-size: 20px;
}

.daily ul li .deg {
    font-size: 30px;
}