body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

@media (max-width: 430px) {
  body {
      background-repeat: no-repeat;
      width: 430px;
  }
}

